*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(37, 41, 62, 1);*/
    background: url(../recursos/encabezado/encabezado.jpg);
    background-size: cover;
    background-attachment: fixed;
}
body .contenedor{
    /*background-color: rgb(37, 41, 62, 0.5);*/
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor .logo{
    color: #fff;
}
.contenedor .menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: .5rem;
    margin-left: .5rem;
    padding: 15px 20px;
}
.contenedor .menu a:hover{
    background-color:rgb(232, 69, 69);
    
}
.Encabezado{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #fff;
    /*display: flex;*/
    align-items: center;
    text-align: center;
   /* background-color: rgb(37, 41, 62, 0.5);*/
    
}
.Encabezado h1{
    line-height: 2.5rem;
    
}
.Encabezado p{
    max-width: 90%;
    margin: auto;
    text-align:justify;
    line-height: 1.5rem;
    margin-bottom: 100px;
}
.Encabezado .boton{
    margin: auto;
    max-width: 300px;
    align-items: center;
    text-decoration: none;
    padding: 20px 40px;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgb(232, 69, 69);
    border-radius: .5rem;
}
.Encabezado .boton a:hover{
    
}
.caracteristicas{
    width: 100%;
    margin: auto;
    padding: 5rem 15rem ;
    background-color: rgba(255, 255, 255, 0.98);
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.caracteristicas img{
    max-width: 100px;
    max-height: 100px;
}
.caracteristicas p{
    max-width: 200px;
    text-align: center;
    line-height: 1.2rem;
    font-size: 1rem;
}
.trabajos{
    /*position: relative;*/
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.trabajos img{
    /*position: relative;*/
    /*display: flex;*/
    max-width: 379.8px;
    /*max-height: 284.85px;*/
    /*flex-direction: row;*/
}

.trabajos .texto{
 
    /*position: absolute;*/
    max-width: 379.8px;
    padding: 50px;
    top: 0px;
    left:0px;
    font-size: 1rem;
    color: black;
    opacity: 0;
    text-align: center;
}

.trabajos .texto:hover{
    opacity: 1;
    background-color: rgba(232, 69, 69,0.8);
}

.informacion {
    background-color: #fff;
    width: 100%;
    margin: auto;
    padding-top: 10rem;
    background-color: rgba(255, 255, 255, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
}
.trabajadores .info{
    width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.informacion img {
    max-width: 379.8px;
}
.informacion .trabajadores .redes img{
    max-width: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.contacto{
    width: 100%;
    background-color: rgb(232, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto .newsletter .contactenos_empresa{
    align-items: center;
    text-align: center;
}
.contacto .newsletter{
    color: #fff;
    /*width: 50%;*/
    justify-content: space-between;
    align-items: center;
}
.contacto .input-group {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    
}
.contacto .input-group input{
    margin-bottom: .3rem;
}
.contacto .input-group textarea{
    margin-bottom: .3rem;
}
.contacto a {
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    color: blanchedalmond;
    background-color: rgb(58, 62, 100);
}
.contacto .correo{
        text-align: center;
        padding: 0 20px;    
        
    }
    .contacto .correo h4{
        text-decoration: underline;

    }

footer{
    margin: auto;
    background-color: rgb(58, 62, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .pie{
    color: rgb(255, 255, 255);
    width: 1000px;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
footer .redes img{
    max-width: 50px;
}
footer .direccion{
    text-align: center;
    padding: 0 20px;
    
}
footer .direccion p{
    font-size: .6rem;
    font-weight: 600;
}
footer .redes{
    text-align: center;
    padding: 0 20px;
}
footer .acercade{
    text-align: center;
    padding: 0 20px;
}
footer .acercade p{
    font-size: .6rem;
    font-weight: 600;
}

@media screen and (max-width:1150px){
    header{
        flex-direction: column; 
    }
    header nav .menu{
        flex-direction: wrap;
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    header .menu a{
        margin: 0 20px;
        padding: 1rem;
        flex-direction: column;
        
    }
    header .menu a:hover{
        background-color: none;
    }
    header .logo{
        margin-bottom: 1.2rem;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
}
.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}